<h1>Students</h1>

<ul>
  <% @students.each do |student| %>
    <% if student.first_name != nil || student.last_name != nil %>
      <li><%= link_to student.to_s, student_path(student) %></li>
      <% end %>
  <% end %>
</ul>
