<h1>School Class Form</h1>

<%= form_for(@school_class) do |f| %>
<p><label>Class Title: </label></p>
<%= f.text_field :title %><br>

<p><label>Room Number: </label></p>
<%= f.number_field :room_number %><br>

<p><%= f.submit %></p>
<% end %>
